/* @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap'); */

:root {
  --color-one: #ed9444;
  --color-strong: #e85604;
  --color-two: #135f83;
  --color-dark: #002a4d;
  --color-light: #fbdfa3;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

body {
  width: 100vw;
  background-color: var(--color-light);
  color: var(--color-dark);
}

header{
  width: 100vw;
  height: 6rem;
  background-color: var(--color-dark);
  color: var(--color-one);
  padding: 1rem;
}

main {
  width: 90vw;
  background-color: var(--color-two);
  padding: 1rem;
  margin-top: 3rem;
}

footer {
  width: 100%;
  padding: 1rem;
  background-color: var(--color-dark);
  color: white;
  margin-top: 3rem;
  padding: 1rem;
  min-height: 14rem;
}

button {
  background-color: var(--color-strong);
}