@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

:root {
  --color-one: #ed9444;
  --color-strong: #e85604;
  --color-two: rgb(19, 95, 131);
  --color-dark: #002a4d;
  --color-light: #fbdfa2;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--color-light);
  color: var(--color-light);
}

header{
  display: flex;
  width: 100vw;
  max-height: 6rem;
  min-height: 10vh;
  background-color: var(--color-dark);
  color: var(--color-one);
  padding: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  width: 90vw;
  background-color: var(--color-two);
  padding: 1rem;
  margin: 3rem auto 3rem auto;
  min-height: 80vh;
}

footer {
  width: 100%;
  padding: 1rem;
  background-color: var(--color-dark);
  color: white;
  margin-top: 2rem;
  padding: 1rem;
  min-height: 10vh;
}

button {
  background-color: var(--color-strong);
  padding: 6px 10px;
  border: none;
  box-shadow: #002a4d 2px 2px;
}

button:hover {
  background-color: var(--color-light);
  color: var(--color-dark);
  box-shadow: #002a4d 5px 5px;
}

/*main*/

.main__section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main__section__title{
  margin: 1rem 1rem 0rem 1rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 5em;
  color: var(--color-one);
  font-style: italic;
  font-weight: bolder;
  text-align: center;
}

.main__section__title--mod{
  font-size: 1.1em;
  color: var(--color-light);
  font-weight: bolder;
}

.main__section__subtitle{
  font-size: 2em;
  text-align: center;
  color: var(--color-light);
}

.main__section__figure--logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 210px;
}

.main__section__figure__img--logo{
  width: 200px;
}

.main__section__div{
  display: flex;
  margin: 20px;
  border: var(--color-dark) 8px solid;
  min-width: 500px;
}

.main__section__figure{
  margin: 0;
  padding: 0;
}

.main__section__figure__image{
  /*cuidado que tiene hint de tamaño en la etiqueta*/
  max-width: 35vw;
  min-width: 200px;
  flex-shrink: 1;
}

.main__section__h3{
  align-self: flex-start;
  color: var(--color-one);
  font-size: 3em;
  text-align: center;
  margin: auto;
  flex-shrink: 2;
}

.main__section__products{
  display: flex;
  flex-flow: nowrap column;
  padding: 10px;
  width: 100%;
}

.main__section__products__list{
  width: 100%;
  padding: 50px;
  /*se hace flex dinamicamente*/
  flex-flow: wrap row;
  color: var(--color-light);
  background-color: var(--color-dark);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.main__section__products__list--card{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 200px;
  max-width: 350px;
  justify-content: space-between;
  margin: 5px;
  align-items:center;
  align-content: center;
  border: var(--color-one) solid 2px;
}

.card__figure{
  background-color: #fff;
  min-height: 250px;
}

.card__figure--img{
  width: 100%;
}

.card--name{
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 10px;
  background-color: var(--color-one);
  color: var(--color-dark);
  font-weight: bolder;
  width: 100%;
}

.card--des{
  padding: 10px;
}

.card--price{
  font-size: 1.3em;
  font-weight: bold;
  padding: 20px;
  background-color: var(--color-light);
  color: var(--color-dark);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.card__box{
  display: flex;
  width: 100%;
  padding: 10px;  margin-top: 20px;
}

.card__box--button2{
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.card__box--cant{
  border: var(--color-light)  2px solid;
  padding: 4px;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: var(--color-light);
  color: var(--color-dark);
}

.card__box--precio{
  border: var(--color-light)  2px solid;
  color: var(--color-dark);
  background-color: var(--color-light);
  padding: 4px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.main__section__products__div{
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 10px auto;
}

/*main ver carrito*/

.main__section__products__cart{
  display: flex;
  align-items: center;
  justify-items: center;
  min-height: 100vh;
}

.main__section__products__cart-button{
  margin: auto;
  padding: 20px;
}

.main__section__products__cart-button:hover{
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.main__section__products__cart--title{
  font-size: 3em;
  color: var(--color-one);
  text-align: center;
}

.main__section__products__cart__ol{
  display: flex;
  flex-direction: column;
  background-color: var(--color-light);
  width: 80vw;
  gap: 5px;
  padding: 4px;
}

.main__section__products__cart--li{
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: 4px;
}

.main__section__products__cart--total{
  background-color: var(--color-dark);
  padding: 30px;
  margin-top: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/*----HEADER------*/

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.header__link{
  filter: drop-shadow(2px 2px 2px rgba(19, 95, 131, 0.9));
  -webkit-filter: drop-shadow(2px 2px 2px rgba(19, 95, 131, 0.9));
}

.header__link:hover{
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  margin-right: 10px;
  filter: drop-shadow(6px 6px 5px rgba(19, 95, 131, 0.8));
  -webkit-filter: drop-shadow(6px 6px 5px rgba(19, 95, 131, 0.8));
}

.header__box{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 40px;
}

.header__box__nav__ul{
  list-style: none;
  display: flex;
  margin-right: 10px;
    filter: drop-shadow(2px 2px 2px rgba(19, 95, 131, 0.9));
  -webkit-filter: drop-shadow(2px 2px 2px rgba(19, 95, 131, 0.9));
}

.header__box__nav__ul--link{
  margin: 0px;
  background-color: var(--color-light);
  padding: 14px;
}

.header__box__nav__ul--link:first-child{
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.header__box__nav__ul--link:last-child{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.header__box__nav__ul--link:hover{
  background-color: var(--color-two);
}

.header__box__nav__ul--link a{
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  color: var(--color-dark);
}

.header__box__nav__ul--link:hover a {
  color: var(--color-light);
}

.header__box__link{
  padding: 7px;
}

.header__box__link:hover{
  background-color: var(--color-two);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

/*----Footer-----*/

.footer{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(4, 60px);
}

.footer__section--link{
  display: block;
  text-decoration: none;
  font-weight: bolder;
  color: var(--color-strong);
  margin: 10px;
}

.footer__section--link:visited{
  color: #ed9444;
}

.footer__section--link:hover{
  color: var(--color-light);
  transform: scale(1.01);
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
}

.footer__section--title{
  font-size: 2.3em;
  color: var(--color-light);
  margin: 5px;
}

.footer__section__link{
  display: block;
  margin-top: 10px;
}

.footer__section__link:hover{
  transform: scale(1.2);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.footer__section__link--icon{
  filter: drop-shadow(2px 2px 2px rgba(19, 95, 131, 0.9));
  -webkit-filter: drop-shadow(2px 2px 2px rgba(19, 95, 131, 0.9));
}

.footer__section__link--icon:hover{
  filter: drop-shadow(6px 6px 5px rgba(19, 95, 131, 0.8));
  -webkit-filter: drop-shadow(6px 6px 5px rgba(19, 95, 131, 0.8));
}